<div ng-controller="OrderController as formController"
     style="width:90%; margin-bottom: 50px; margin-left:auto; margin-right:auto;"
     xmlns:date="http://www.w3.org/1999/xhtml">
    <div class="alert alert-info" style="width:400px;margin-left:100px;" ng-show="orders.length == 0">
        No orders found
    </div>

    <!--<select ng-model="selectedName" ng-options="item for item in names">-->
    <!--</select>-->
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-default btn-mini btn-top-grid" ng-click="openInsertEditor()" style="margin-bottom: 10px" title="Add new Card Order">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>

            <button type="button" class="btn btn-default btn-mini btn-top-grid" ng-click="loadData()" style="margin-bottom: 10px" title="Refresh">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
        </div>
        <!--<div class="col-md-4 col-md-offset-4">-->
            <!--<a class="btn btn-default btn-top-grid" href="orders/DownloadPDF" target="_blank" style="float: right; margin-bottom: 10px;" title="PDF report">-->
                <!--<span class="glyphicon glyphicon-floppy-disk" style="padding: 7px 9px;"></span></a>-->
        <!--</div>-->
    </div>

    <table class="table table-bordered table-striped"  ng-show="orders.length > 0">
        <thead>
        <tr>
            <th rowspan = "2" style="text-align: center; vertical-align: middle;" ng-hide="true">
                <a class="thumbnail1" href="#">ID
                    <span>Search by ID
                            <input type="text" ng-model="ref.id" placeholder="Search"/></span></a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('id')}" ng-click="sort('id')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>

            <th colspan = "2" style="text-align: center;">Date</th>
            <th colspan = "3" style="text-align: center;">Inventory</th> <!-- colspan = "4" if inventory_id visible-->
            <th colspan = "4" style="text-align: center;">Notebook</th>


            <th rowspan = "2" style="text-align: center; vertical-align: middle; display:none;">
                <a class="thumbnail1" href="#">Employee ID
                    <span>Search by Employee ID
                            <input type="text" ng-model="ref.employeeId" placeholder="Search"/></span></a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('employeeId')}" ng-click="sort('employeeId')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
            <th rowspan = "2" style="text-align: center; vertical-align: middle;">
                <a class="thumbnail1" href="#">Employee
                    <span>Search by Employee name
                            <input type="text" ng-model="ref.employeeFullName" placeholder="Search"/></span></a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('employeeFullName')}" ng-click="sort('employeeFullName')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
            <th rowspan = "2" style="text-align: center; vertical-align: middle; display:none;">
                <a class="thumbnail1" href="#">User ID
                    <span>Search by User ID
                            <input type="text" ng-model="ref.userId" placeholder="Search"/></span></a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('userId')}" ng-click="sort('userId')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
            <th rowspan = "2" style="text-align: center; vertical-align: middle;">
                <a class="thumbnail1" href="#">User
                    <span>Search by User Name
                            <input type="text" ng-model="ref.userFullName" placeholder="Search"/></span></a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('userFullName')}" ng-click="sort('userFullName')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
            <th rowspan = "2" style="text-align: center; vertical-align: middle; display:none;">
                <a class="thumbnail1" href="#">Editor ID
                    <span>Search by Editor ID
                            <input type="text" ng-model="ref.editorId" placeholder="Search"/></span></a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('editorId')}" ng-click="sort('editorId')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
            <th rowspan = "2" style="text-align: center; vertical-align: middle;">
                <a class="thumbnail1" href="#">Editor
                    <span>Search by Editor Name
                            <input type="text" ng-model="ref.editorFullName" placeholder="Search"/></span></a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('editorFullName')}" ng-click="sort('editorFullName')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>

            <th rowspan = "2" style="text-align: center; vertical-align: middle; width: 70px;">Update</th>
            <th rowspan = "2" style="text-align: center; vertical-align: middle; width: 70px;">Remove</th>
        </tr>

        <tr>
            <th style="text-align: center; vertical-align: top;">
                <a class="thumbnail1" href="#">Open
                    <span>
                            Search by Open date
                            <br/>
                            From
                            <input type="date" ng-model="from_open_date"/>
                            To
                            <input type="date" ng-model="to_open_date"/>
                        </span>
                </a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('createDate')}" ng-click="sort('createDate')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
            <th style="text-align: center; vertical-align: top;">
                <a class="thumbnail1" href="#">Due
                    <span>
                            Search by Due date
                            <br/>
                            From
                            <input type="date" ng-model="from_date"/>
                            To
                            <input type="date" ng-model="to_date"/>
                        </span>
                </a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('date')}" ng-click="sort('date')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>

            <th style="text-align: center; vertical-align: top;">
                <a class="thumbnail1" href="#">Status
                    <span>Search by Status
                        <select ng-model="ref.statusName">>
                                <option value=""></option>
                                <option ng-repeat="status in ordStatuses" value="{{status.name}}">{{status.name}}</option>
                        </select>
                    </span>
                </a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('statusName')}" ng-click="sort('statusName')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
            <th style="text-align: center; vertical-align: top; display:none;">
                <a class="thumbnail1" href="#">ID
                    <span>Search by Inventory ID
                        <input type="text" ng-model="ref.inventoryId" placeholder="Search"/>
                    </span>
                </a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('inventoryId')}" ng-click="sort('inventoryId')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
            <th style="text-align: center; vertical-align: top;">
                <a class="thumbnail1" href="#">Type
                    <span>Search by Inventory type
                                <!--<input type="text" ng-model="ref.inventoryType" placeholder="Search"/>-->
                        <select ng-model = "ref.inventoryType">
                                <option value=""></option>
                                <option value = "Card">Card</option>
                                <option value = "Notebook">Notebook</option>
                        </select>
                    </span>
                </a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('inventoryType')}" ng-click="sort('inventoryType')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
            <th style="text-align: center; vertical-align: top;">
                <a class="thumbnail1" href="#">Number
                    <span>Search by Inventory number
                            <input type="text" ng-model="ref.inventoryNum" placeholder="Search" list="order-inventoryNum"/>
                            <datalist id="order-inventoryNum">
                                <option ng-repeat="inventoryNum in ordInventoryNums" value="{{inventoryNum.inventoryNum }}">{{inventoryNum.inventoryNum }}</option>
                            </datalist>
                        </span>
                </a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('inventoryNum')}" ng-click="sort('inventoryNum')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>

            <th style="text-align: center;">
                <a class="thumbnail1" href="#">Name
                    <span>Search by Note name
                            <input type="text" ng-model="ref.noteName" placeholder="Search"/></span></a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('noteName')}" ng-click="sort('noteName')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
            <th style="text-align: center;">
                <a class="thumbnail1" href="#">Model
                    <span>Search by Note model
                            <input type="text" ng-model="ref.noteModel" placeholder="Search"/></span></a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('noteModel')}" ng-click="sort('noteModel')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
            <th style="text-align: center;">
                <a class="thumbnail1" href="#">Memory
                    <span>Search by Note memory
                            <input type="text" ng-model="ref.noteMemory" placeholder="Search"/></span></a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('noteMemory')}" ng-click="sort('noteMemory')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
            <th style="text-align: center;">
                <a class="thumbnail1" href="#">Serial
                    <span>Search by Note serial
                            <input type="text" ng-model="ref.noteSerial" placeholder="Search"/></span></a>
                <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('noteSerial')}" ng-click="sort('noteSerial')" style="float: right;">
                    <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </button>
            </th>
        </tr>
        </thead>

        <tbody>
        <!--<tr dir-paginate="order in orders | orderBy:sortKey:reverse | filter: ref | dateRange : from_date : to_date | itemsPerPage: selectedName " pagination-id="order">-->
        <tr dir-paginate="order in orders | orderBy:sortKey:reverse | filter: ref | dateRangeCreate : from_open_date : to_open_date | dateRange : from_date : to_date | itemsPerPage: selectedName " pagination-id="order">
            <td ng-hide="true">{{order.id}}</td>
            <td>{{order.createDate|date:'dd.MM.yy'}}</td>
            <td>{{order.date|date:'dd.MM.yy'}}</td>
            <td style="display:none">{{order.statusId}}</td>
            <td>{{order.statusName}}</td>
            <td style="display:none">{{order.inventoryId}}</td>
            <td>{{order.inventoryType}}</td>
            <td>{{order.inventoryNum}}</td>
            <td>{{order.noteName}}</td>
            <td>{{order.noteModel}}</td>
            <td>{{order.noteMemory}}</td>
            <td>{{order.noteSerial}}</td>
            <td style="display:none">{{order.employeeId}}</td>
            <td>{{order.employeeFullName}}</td>
            <td style="display:none">{{order.userId}}</td>
            <td>{{order.userFullName}}</td>
            <td style="display:none">{{order.editorId}}</td>
            <td>{{order.editorFullName}}</td>
            <td  style="width:70px;text-align:center;"><button class="btn btn-mini btn-warning btn-tab" ng-click="openUpdateEditor(order)"
                                                               ng-show="isEditEnabled(order)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
            <td  style="width:70px;text-align:center;"><button class="btn btn-mini btn-danger btn-tab" ng-click="removeOrder(order)"
                                                               ng-if = "order.inventoryType == 'Card'">
                                                               <!--ng-show="checkInvType(order)">-->
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
        </tr>
        </tbody>
    </table>

    <div style="padding-bottom: 35px;">
        <dir-pagination-controls style="float: left;"
            direction-links="true"
            boundary-links="true"
            auto-hide = "false"
            pagination-id="order">
        </dir-pagination-controls>
        <select ng-model="selectedName" ng-options="item for item in names" class="form-control" style="float: left; width: 100px; margin: -11px 10px;">
        </select>
    </div>

    <script type="text/ng-template" id="updateOrder.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h3 class="modal-title" ng-if="editRecord.id">Update Order</h3>
            <h3 class="modal-title" ng-if="!editRecord.id">New Order</h3>
        </div>
        <div class="modal-body">
            <div style="padding: 5px" ng-form="" name="addOrderForm">
                <!--<p>editRecord = {{editRecord}}</p>-->
                <input type="text" id="update-order-id" style="display:none" ng-model="editRecord.id"/>

                <div class="form-group">
                    <label> Open date </label>
                    <input type="date" id="update-order-open-date" class="form-control" ng-model="editRecord.openDate.value" ng-readonly = "true"/>
                </div>

                <div class="form-group">
                    <label> Due date </label>
                    <input type="date" id="update-order-date" min = "{{editRecord.openDate.value | date: 'yyyy-MM-dd'}}" class="form-control" ng-model="editRecord.date.value"/>
                </div>

                <div class="form-group" ng-if="editRecord.id" ng-class="{ 'has-error' : addOrderForm.status.$invalid &amp;&amp; !addOrderForm.status.$pristine }">
                    <label for="status"> Status* </label>
                    <!--<p>editRecord.selectedStatus = {{editRecord.selectedStatus}}</p>-->
                    <select id="status" name="status" class="form-control" ng-model="editRecord.selectedStatus"
                            ng-options="status.name for status in ordStatuses track by status.id" required="required">
                    </select>
                    <p ng-show="addOrderForm.status.$error.required &amp;&amp; !addOrderForm.status.$pristine" class="help-block">
                        Status is required.
                    </p>
                </div>

                <div class="form-group" ng-if = "editRecord.id">
                    <input type="text" id="inventory-id" style="display:none" ng-model="editRecord.inventoryId"/>
                    <p>
                    <label> Card number   </label>
                    <input type="text" ng-model="editRecord.inventoryNum" ng-readonly="true"/>
                    </p>
                    <select id="inventory" name="inventory" class="form-control" ng-model="$parent.editRecord.selectedInv"
                            ng-options="inventory.inventoryNum for inventory in ordInventoryNums | filter: {statusId: 2} track by inventory.id"
                            chosen = "ordInventoryNums">
                        <option style="display:none" value="">select else inventory number</option>
                    </select>
                    <!--<label for="inventory"> Card Number </label>-->
                    <!--&lt;!&ndash;<p>editRecord.selectedStatus = {{editRecord.selectedStatus}}</p>&ndash;&gt;-->
                    <!--<select id="inventory" name="inventory" class="form-control" ng-model="$parent.editRecord.selectedInv"-->
                            <!--ng-options="inventory.inventoryNum for inventory in ordInventoryNums track by inventory.id"-->
                            <!--chosen = "ordInventoryNums" required="required">-->
                    <!--</select>-->
                    <!--<p ng-show="addOrderForm.inventory.$error.required &amp;&amp; !addOrderForm.inventory.$pristine" class="help-block">-->
                        <!--Inventory number is required.-->
                    <!--</p>-->
                </div>

                <div class="form-group" ng-if = "!editRecord.id"
                     ng-class="{ 'has-error' : addOrderForm.inventoryn.$invalid &amp;&amp; !addOrderForm.inventoryn.$pristine }">
                    <label for="inventoryn"> Card number </label>
                    <!--<p>editRecord.selectedStatus = {{editRecord.selectedStatus}}</p>-->
                    <select id="inventoryn" name="inventoryn" class="form-control" ng-model="$parent.editRecord.selectedInv"
                            ng-options="inventory.inventoryNum for inventory in ordInventoryNums | filter: {statusId: 2} track by inventory.id"
                            chosen = "ordInventoryNums" required="required">
                        <option style="display:none" value="">select inventory number</option>
                    </select>
                    <p ng-show="addOrderForm.inventoryn.$error.required &amp;&amp; !addOrderForm.inventoryn.$pristine" class="help-block">
                        Inventory number is required.
                    </p>
                </div>

                <!--<div class="form-group" ng-class="{ 'has-error' : addOrderForm.inventorynum.$invalid &amp;&amp; !addOrderForm.inventorynum.$pristine }">-->
                <!--<label for="update-Order-inventoryNum">Inventory number*:</label>-->
                <!--<input name="inventorynum" type="text" class="form-control" id="update-Order-inventoryNum" placeholder="Inventory number" ng-model="editRecord.inventoryNum" ng-pattern="/^[0-9]+$/"/>-->
                <!--<p ng-show="addOrderForm.inventorynum.$error.pattern" class="help-block">Inventory Number is not valid.</p>-->
                <!--</div>-->

                <div class="form-group" ng-class="{ 'has-error' : addOrderForm.employee.$invalid &amp;&amp; !addOrderForm.employee.$pristine }">
                    <label for="employee"> Employee </label>
                    <!--<p>editRecord.selectedStatus = {{editRecord.selectedStatus}}</p>-->
                    <select id="employee" name="employee" class="form-control" ng-model="editRecord.selectedEmp"
                            ng-options="employee.fullName for employee in ordEmployees | orderBy:'fullName' track by employee.id"
                            chosen = "ordEmployees" required="required">
                        <option style="display:none" value="">select employee name</option>
                    </select>
                    <p ng-show="addOrderForm.employee.$error.required &amp;&amp; !addOrderForm.employee.$pristine" class="help-block">
                        Employee is required.
                    </p>
                </div>

                <div class="form-group">
                    <input type="text" id="user-id" style="display:none" ng-model="editRecord.userId"/>
                    <label for="user"> User </label>
                    <input type="text" id = "user" ng-model="editRecord.user" ng-readonly="true"/>

                    <div ng-if="editRecord.id" style="float: right;">
                        <input type="text" id="editor-id" style="display:none" ng-model="editRecord.editorId"/>
                        <label for="editor"> Last editor </label>
                        <input type="text" id = "editor" ng-model="editRecord.editor" ng-readonly="true"/>
                    </div>
                    <!--<p>editRecord.selectedStatus = {{editRecord.selectedStatus}}</p>-->
                    <!--<select id="user" name="user" class="form-control" ng-model="editRecord.selectedUser"-->
                            <!--ng-options="user.fullName for user in ordUsers | orderBy:'fullName' track by user.id" required="required">-->
                    <!--</select>-->
                    <!--<p ng-show="addOrderForm.user.$error.required &amp;&amp; !addOrderForm.user.$pristine" class="help-block">-->
                        <!--User is required.-->
                    <!--</p>-->
                </div>

                <div class="modal-footer">
                    <!--<button type="submit" class="btn btn-default btn-mini"  ng-click="ok()" style="width: 80px; ">Ok</button>-->
                    <button type="submit" class="btn btn-primary btn-mini"  ng-click="ok()" ng-disabled="addOrderForm.$invalid" style="width: 80px; ">Ok</button>
                </div>
            </div>
        </div>
    </script>
</div>