<div ng-controller="AccessCardController as formController" style="width:90%; margin-bottom: 50px; margin-left:auto; margin-right:auto;">

    <div class="alert alert-info" style="width:400px;" ng-show="cards.length == 0">
        No cards found
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button id="add-card-button" type="button" class="btn btn-default btn-mini" ng-click="openInsertEditor()" style="margin-bottom: 10px">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <a class="btn btn-default" href="accesscards/DownloadPDF" target="_blank" style="float: right; margin-bottom: 5px;"><span class="glyphicon glyphicon-floppy-disk"></span></a>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped"  ng-show="cards.length > 0" show-filter="true">
        <thead>
            <tr>
                <th ng-click="sort('id')" style="text-align: center;"><a class="thumbnail1" href="#">ID<span>Search by ID<input type="text" ng-model="ref.id" placeholder="Search"/></span></a>
                    <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('statusName')" style="text-align: center;"><a class="thumbnail1" href="#">Status<span>Search by Status<input type="text" ng-model="ref.statusName" placeholder="Search"/></span></a>
                    <span class="glyphicon sort-icon" ng-show="sortKey=='statusName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('inventoryNum')" style="text-align: center;"><a class="thumbnail1" href="#">Inventory number<span>Search by Inv number<input type="text" ng-model="ref.inventoryNum" placeholder="Search"/></span></a>
                    <span class="glyphicon sort-icon" ng-show="sortKey=='inventoryNum'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <!--<th style="text-align: center; width: 25px;">Order</th>-->
                <th style="text-align: center; width: 25px;">Update</th>
                <th style="text-align: center; width: 25px;">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="card in cards | orderBy:sortKey:reverse | filter: ref | itemsPerPage: 15 ">
                <td>{{card.id}}</td>
                <td>{{card.statusName}}</td>
                <td>{{card.inventoryNum}}</td>
                <!--<td  style="width:70px;text-align:center;"><button class="btn btn-mini btn-warning" ng-click="openOrderEditor(card)">-->
                    <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>-->
                <td  style="width:70px;text-align:center;"><button class="btn btn-mini btn-warning" ng-click="openUpdateEditor(card)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
                <td  style="width:70px;text-align:center;"><button class="btn btn-mini btn-danger" ng-click="removeCard(card.id)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls
            max-size="15"
            direction-links="true"
            boundary-links="true"  >
    </dir-pagination-controls>



    <script type="text/ng-template" id="updateCard.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h3 class="modal-title" ng-if="editRecord.id">Update Card</h3>
            <h3 class="modal-title" ng-if="!editRecord.id">New Card</h3>
        </div>
        <div class="modal-body">
            <div style="padding: 5px" ng-form="" name="addCardForm">
                <!--<p>editRecord = {{editRecord}}</p>-->
                <input type="text" id="update-card-id" style="display:none" ng-model="editRecord.id"/>

                <div class="form-group" ng-class="{ 'has-error' : addCardForm.status.$invalid &amp;&amp; !addCardForm.status.$pristine }">
                    <label for="status"> Status* </label>
                    <!--<p>editRecord.selectedStatus = {{editRecord.selectedStatus}}</p>-->
                    <select id="status" name="status" class="form-control" ng-model="editRecord.selectedStatus" ng-options="status.name for status in invStatuses track by status.id" required="required">
                    </select>
                    <p ng-show="addCardForm.status.$error.required &amp;&amp; !addCardForm.status.$pristine" class="help-block">Status is required.</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : addCardForm.inventorynum.$invalid &amp;&amp; !addCardForm.inventorynum.$pristine }">
                    <label for="update-card-inventoryNum">Inventory number*:</label>
                    <input name="inventorynum" type="text" class="form-control" id="update-card-inventoryNum" placeholder="Inventory number" ng-model="editRecord.inventoryNum" required="required"/>
                    <p ng-show="addCardForm.inventorynum.$error.required &amp;&amp; !addCardForm.inventorynum.$pristine" class="help-block">Inventory Number is required.</p>
                </div>
                <div class="modal-footer">
                    <!--<button type="submit" class="btn btn-default btn-mini"  ng-click="ok()" style="width: 80px; ">Ok</button>-->
                    <button type="submit" class="btn btn-primary btn-mini"  ng-click="ok()" ng-disabled="addCardForm.$invalid" style="width: 80px; ">Ok</button>
                </div>
            </div>
        </div>
    </script>


</div>
