<div ng-controller="AccessCardController as formController">

<h3 style="margin-left:100px;">Access Cards List</h3>
<div class="alert alert-info" style="width:400px;margin-left:100px;" ng-show="cards.length == 0">
    No cards found
</div>
<input type="text" ng-model="test"/>
<button type="button" class="btn btn-default btn-mini" data-toggle="modal" data-target="#addCard" style="margin-bottom: 10px">Add New Card</button>
<table class="table table-bordered table-striped" style="width:100%;" ng-show="cards.length > 0" show-filter="true">
    <thead>
    <tr>
        <th ng-click="sort('id')" style="text-align: center;">ID
            <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('statusName')" style="text-align: center;">Status
            <span class="glyphicon sort-icon" ng-show="sortKey=='statusName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('inventoryNum')" style="text-align: center;">Inventory number
            <span class="glyphicon sort-icon" ng-show="sortKey=='inventoryNum'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th style="text-align: center; width: 25px;">Remove</th>
        <th style="text-align: center; width: 25px;">Update</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="card in cards | itemsPerPage:5 | filter: test | orderBy:sortKey:reverse">
        <td>{{card.id}}</td>
        <td>{{card.statusName}}</td>
        <td>{{card.inventoryNum}}</td>
        <td  style="width:70px;text-align:center;"><button class="btn btn-mini btn-danger updateCardButton" data-toggle="modal" data-target="#updateCard">Update</button></td>
        <td  style="width:70px;text-align:center;"><button class="btn btn-mini btn-danger" ng-click="removeCard(card.id)">Remove</button></td>
    </tr>
    </tbody>
</table>
    <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true"  >
    </dir-pagination-controls>
<button style="margin-left:100px;" class="btn btn-danger"  ng-show="cards.length > 1" ng-click="removeAllCards()">Remove All Access Cards</button>

<div class="modal fade" id="addCard" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Card</h4>
            </div>
            <div class="modal-body">
                <div style="padding: 5px">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="card-id">ID:</label>
                            <input type="text" class="form-control" id="card-id" placeholder="ID" ng-model="card.id"/>
                        </div>
                        <div class="form-group">
                            <label for="card-status">Status:</label>
                            <input type="text" class="form-control" id="card-status" placeholder="Status" ng-model="card.statusName"/>
                        </div>
                        <div class="form-group">
                            <label for="card-inventory-number">Inventory number:</label>
                            <input type="text" class="form-control" id="card-inventory-number" placeholder="Inventory number" ng-model="card.inventoryNum"/>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="addNewCard(card)" data-dismiss="modal">Add</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="updateCard" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Card</h4>
            </div>
            <div class="modal-body">
                <div style="padding: 5px">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="update-card-id">ID:</label>
                            <input type="text" class="form-control" id="update-card-id" placeholder="ID" ng-model="card.id"/>
                        </div>
                        <div class="form-group">
                            <label for="update-card-statusName">Status:</label>
                            <input type="text" class="form-control" id="update-card-statusName" placeholder="Status" ng-model="card.statusName"/>
                        </div>
                        <div class="form-group">
                            <label for="update-card-inventoryNum">Inventory number:</label>
                            <input type="text" class="form-control" id="update-card-inventoryNum" placeholder="Inventory number" ng-model="card.inventoryNum"/>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="updateCard(card)" data-dismiss="modal">Update</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
