<div ng-controller="NotificationController as formController" style="width:90%; margin-bottom: 50px; margin-left:auto; margin-right:auto;">

    <div class="alert alert-info" style="width:400px;margin-left:100px;" ng-show="notifications.length == 0">
        No notifications found
    </div>
    <table class="table table-bordered table-striped" >
        <thead>
        <tr>
            <th ng-click="sort('id')" style="text-align: center;"><a class="thumbnail1" href="#">ID<span>Search by ID<input type="text" ng-model="ref.id" placeholder="Search"/></span></a>
                <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('order.id')" style="text-align: center;"><a class="thumbnail1" href="#">Order ID<span>Search by Order ID<input type="text" ng-model="ref.order.id" placeholder="Search"/></span></a>
                <span class="glyphicon sort-icon" ng-show="sortKey=='order.id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('first')" style="text-align: center;"><a class="thumbnail1" href="#">First Notify<span>Search by First Notify<input type="text" ng-model="ref.first" placeholder="Search"/></span></a>
                <span class="glyphicon sort-icon" ng-show="sortKey=='first'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('second')" style="text-align: center;"><a class="thumbnail1" href="#">Second Notify<span>Search by Second Notify<input type="text" ng-model="ref.second" placeholder="Search"/></span></a>
                <span class="glyphicon sort-icon" ng-show="sortKey=='second'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('third')" style="text-align: center;"><a class="thumbnail1" href="#">Third Notify<span>Search by Third Notify<input type="text" ng-model="ref.third" placeholder="Search"/></span></a>
                <span class="glyphicon sort-icon" ng-show="sortKey=='third'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="elem in notifications | orderBy:sortKey:reverse | filter: ref | itemsPerPage:15 ">
            <td>{{elem.id}}</td>
            <td>{{elem.order.id}}</td>
            <td>{{elem.first}}<button class="btn btn-mini btn-warning" ng-click="openUpdateEditor(elem)"></button></td>
            <td>{{elem.second}}</td>
            <td>{{elem.third}}</td>
        </tr>
        </tbody>
    </table>
    <dir-pagination-controls
            max-size="15"
            direction-links="true"
            boundary-links="true"  >
    </dir-pagination-controls>

    <script type="text/ng-template" id="updateNotifTemplate.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h3 class="modal-title">Update Template</h3>
        </div>
        <div class="modal-body">
            <div style="padding: 5px" ng-form="" name="addTemplForm">

                <input class="form-control" type="text" name="employeeID" ng-model="editRecord.employeeID"/>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-mini"  ng-click="ok()" ng-disabled="addStatForm.$invalid" style="width: 80px; ">Ok</button>
                </div>
            </div>
        </div>
    </script>

</div>