<div ng-controller="MailSettingsController as formController" style="width:90%; margin-bottom: 50px; margin-left:auto; margin-right:auto;">
    <div class="alert alert-info" style="width:400px;margin-left:100px;" ng-show="success == true">
        Settings successfully changed.
    </div>
    <h1>Settings</h1>
    <form name="settingsUpdate" ng-submit="updateMailSettings(mailSettings)" class="form-horizontal">
        <div class="form-group" ng-class="{ 'has-error' : settingsUpdate.host.$invalid &amp;&amp; !settingsUpdate.host.$pristine }">
            <label for="settings-host">HOST:</label>
            <input name="host" type="text" style="margin-bottom: 10px" placeholder="Host" class="form-control col-xs-4" id="settings-host" ng-model="mailSettings.host" ng-minlength="6" required="required"/>
            <p ng-show="settingsUpdate.host.$error.required &amp;&amp; !settingsUpdate.host.$pristine" class="help-block">Host is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : settingsUpdate.socketFactoryPort.$invalid &amp;&amp; !settingsUpdate.socketFactoryPort.$pristine }">
            <label for="settings-socketFactoryPort">SocketFactoryPort:</label>
            <input name="socketFactoryPort" type="text" placeholder="socketFactoryPort" class="form-control col-xs-4" id="settings-socketFactoryPort"  ng-model="mailSettings.socketFactoryPort" required="required"/>
            <p ng-show="settingsUpdate.socketFactoryPort.$error.required &amp;&amp; !settingsUpdate.socketFactoryPort.$pristine" class="help-block">SocketFactoryPort is required.</p>
            <!--<p ng-show="settingsUpdate.socketFactoryPort.$error.number &amp;&amp; !settingsUpdate.socketFactoryPort.$pristine" class="help-block">Port is not valid.</p>-->
        </div>
        <div class="form-group" ng-class="{ 'has-error' : settingsUpdate.socketFactoryClass.$invalid &amp;&amp; !settingsUpdate.socketFactoryClass.$pristine }">
            <label for="settings-socketFactoryClass">SocketFactoryClass:</label>
            <input name="socketFactoryClass" type="text" class="form-control" id="settings-socketFactoryClass" placeholder="socketFactoryClass" ng-model="mailSettings.socketFactoryClass"  required="required"/>
            <p ng-show="settingsUpdate.socketFactoryClass.$error.required &amp;&amp; !settingsUpdate.socketFactoryClass.$pristine" class="help-block">Factory Class is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : settingsUpdate.auth.$invalid &amp;&amp; !settingsUpdate.auth.$pristine }">
            <label for="settings-auth">Auth:</label>
            <input name="auth" type="text" class="form-control" id="settings-auth" placeholder="auth"  ng-model="mailSettings.auth" required="required"/>
            <p ng-show="settingsUpdate.auth.$error.required &amp;&amp; !settingsUpdate.auth.$pristine" class="help-block">Auth is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : settingsUpdate.port.$invalid &amp;&amp; !settingsUpdate.port.$pristine }">
            <label for="settings-port">Port:</label>
            <input name="port" type="text" class="form-control" id="settings-port" placeholder="port" ng-pattern="/^[0-9]{1,16}$/" ng-model="mailSettings.port" required="required"/>
            <p ng-show="settingsUpdate.port.$error.required &amp;&amp; !settingsUpdate.port.$pristine" class="help-block">Port is required.</p>
            <p ng-show="settingsUpdate.port.$error.pattern &amp;&amp; !settingsUpdate.port.$pristine" class="help-block">Port is not valid.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : settingsUpdate.from.$invalid &amp;&amp; !settingsUpdate.from.$pristine }">
            <label for="settings-from">Email From:</label>
            <input name="from" type="email" class="form-control" id="settings-from" placeholder="from" ng-model="mailSettings.from" required="required"/>
            <p ng-show="settingsUpdate.from.$error.required &amp;&amp; !settingsUpdate.from.$pristine" class="help-block">Email is required.</p>
            <p ng-show="settingsUpdate.from.$error.email &amp;&amp; !settingsUpdate.from.$pristine" class="help-block">Email not valid.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : settingsUpdate.password.$invalid &amp;&amp; !settingsUpdate.password.$pristine }">
            <label for="settings-password">Password:</label>
            <input name="password" type="password" class="form-control" id="settings-password" placeholder="Password" ng-model="mailSettings.password" required="required"/>
            <p ng-show="settingsUpdate.password.$error.required &amp;&amp; !settingsUpdate.password.$pristine" class="help-block">Password is required.</p>
        </div>
        <div class="form-group">
            <button type="submit" style="float:right;" ng-disabled="settingsUpdate.$invalid" class="btn btn-primary" >Change</button>
        </div>
    </form>
</div>