<div ng-controller="NotebookController as formController" style="width:90%; margin-bottom: 50px; margin-left:auto; margin-right:auto;">

<div class="alert alert-info" style="width:400px;margin-left:100px;" ng-show="notebook.length == 0">
    No notebooks found
</div>
    <select ng-model="selectedName" ng-options="item for item in names">
    </select>

    <a class="btn btn-default btn-top-grid" ng-click="printNotebooks(filteredNotebook)" target="_blank" style="float: right; margin-bottom: 10px;" title="PDF report">
        <span class="glyphicon glyphicon-floppy-disk" style="padding: 7px 9px;"></span></a>

    <table class="table table-bordered table-striped"  ng-show="notebook.length > 0">
    <thead>
    <tr>
        <!--<th ng-click="sort('id')" style="text-align: center;"><a class="thumbnail1" href="#">ID<span>Seache by ID<input type="text" ng-model="ref.id" placeholder="Search"/></span></a>-->
            <!--<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
        <!--</th>-->
        <th style="text-align: center;" ng-hide="true">
            <a class="thumbnail1" href="#">ID
                <span>Search by ID
                    <input type="text" ng-model="ref.id" placeholder="Search"/></span></a>
            <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('id')}" ng-click="sort('id')" style="float: right;">
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </button>
        </th>

        <th style="text-align: center;">
            <a class="thumbnail1" href="#">Name
                <span>Search by Name
                    <input type="text" ng-model="ref.name" placeholder="Search"/></span></a>
            <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('name')}" ng-click="sort('name')" style="float: right;">
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </button>
        </th>

        <th style="text-align: center;">
            <a class="thumbnail1" href="#">Model
                <span>Search by Model
                    <input type="text" ng-model="ref.model" placeholder="Search"/></span></a>
            <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('model')}" ng-click="sort('model')" style="float: right;">
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </button>
        </th>

        <th style="text-align: center;">
            <a class="thumbnail1" href="#">Memory Type
                <span>Search by Memory Type
                    <input type="text" ng-model="ref.memoryType" placeholder="Search"/></span></a>
            <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('memoryType')}" ng-click="sort('memoryType')" style="float: right;">
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </button>
        </th>

        <th style="text-align: center;">
            <a class="thumbnail1" href="#">Serial Number
                <span>Search by Serial Number
                    <input type="text" ng-model="ref.serialNumber" placeholder="Search"/></span></a>
            <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('serialNumber')}" ng-click="sort('serialNumber')" style="float: right;">
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </button>
        </th>

        <th style="text-align: center;">
            <a class="thumbnail1" href="#">Inventory Num
                <span>Search by Inventory Num
                    <input type="text" ng-model="ref.inventoryNum" placeholder="Search"/></span></a>
            <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('inventoryNum')}" ng-click="sort('inventoryNum')" style="float: right;">
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </button>
        </th>

        <th style="text-align: center;">
            <a class="thumbnail1" href="#">Location
                <span>Search by Location
                    <input type="text" ng-model="ref.location" placeholder="Search"/></span></a>
            <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('location')}" ng-click="sort('location')" style="float: right;">
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </button>
        </th>

        <th style="text-align: center;">
            <a class="thumbnail1" href="#">Employee Name
                <span>Search by Employee Name<input type="text" ng-model="ref.employeeName" placeholder="Search"/></span></a>
            <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('employeeName')}" ng-click="sort('employeeName')" style="float: right;">
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </button>
        </th>

        <th style="text-align: center;">
            <a class="thumbnail1" href="#">Open Date
                <span>
                    Search by Open Date
                    <br/>
                    From
                    <input type="date" ng-model="from_date_open"/>
                    To
                    <input type="date" ng-model="to_date_open"/>
                </span></a>
            <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('openDate')}" ng-click="sort('openDate')" style="float: right;">
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </button>
        </th>

        <th style="text-align: center;">
            <a class="thumbnail1" href="#">Due Date
                <span>
                    Search by Due Date
                    <br/>
                    From
                    <input type="date" ng-model="from_date_due"/>
                    To
                    <input type="date" ng-model="to_date_due"/>
                </span>
            </a>
            <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('dueDate')}" ng-click="sort('dueDate')" style="float: right;">
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </button>
        </th>

        <th style="text-align: center;">
            <a class="thumbnail1" href="#">Status
                <span>Search by Status
                    <select ng-model="ref.statusName">>
                            <option value=""></option>
                            <option ng-repeat="status in invStatuses" value="{{status.name}}">{{status.name}}</option>
                    </select>
                </span></a>
            <button class="btn btn-mini btn-tab-header" ng-class="{'sort':isSortKey('statusName')}" ng-click="sort('statusName')" style="float: right;">
                <span class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="elem in filteredNotebook = (notebook | orderBy:sortKey:reverse | filter: ref | dateRangeOpen : from_date_open : to_date_open | dateRangeDue : from_date_due : to_date_due ) | orderBy:sortKey:reverse | filter: ref | dateRangeOpen : from_date_open : to_date_open | dateRangeDue : from_date_due : to_date_due | itemsPerPage: selectedName" pagination-id="notebook" >
        <td ng-hide="true">{{elem.id}}</td>
        <td>{{elem.name}}</td>
        <td>{{elem.model}}</td>
        <td>{{elem.memoryType}}</td>
        <td>{{elem.serialNumber}}</td>
        <td>{{elem.inventoryNum}}</td>
        <td>{{elem.location}}</td>
        <td>{{elem.employeeName}}</td>
        <td>{{elem.openDate|date:'dd.MM.yyyy'}}</td>
        <td>{{elem.dueDate|date:'dd.MM.yyyy'}}</td>
        <td>{{elem.statusName}}</td>
    </tr>
    </tbody>
</table>
    <dir-pagination-controls
            direction-links="true"
            boundary-links="true"
            pagination-id="notebook">
    </dir-pagination-controls>
</div>
