<div ng-controller="UserController as formController" style="width:70%; margin-bottom: 50px; margin-left:auto; margin-right:auto;">

<div class="alert alert-info" style="width:400px;margin-left:100px;" ng-show="users.length == 0">
    No users found
</div>
    <!--<select ng-model="selectedName" ng-options="item for item in names">-->
    <!--</select>-->
    <div class="form-group">
        <button id="addUserForm-button" type="button" class="btn btn-default btn-mini" data-toggle="modal" data-target="#addUser" style="margin-bottom: 10px">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
<table class="table table-bordered table-striped"  ng-show="users.length > 0" show-filter="true">
    <thead>
    <tr>
        <th ng-click="sort('fullName')" style="text-align: center;"><a class="thumbnail1" href="#">Full Name<span>Search by Full Name<input type="text" ng-model="ref.fullName" placeholder="Search"/></span></a>
            <span class="glyphicon sort-icon" ng-show="sortKey=='fullName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('phoneNumber')" style="text-align: center;"><a class="thumbnail1" href="#">Phone Number<span>Search by Phone Number<input type="text" ng-model="ref.phoneNumber" placeholder="Search"/></span></a>
            <span class="glyphicon sort-icon" ng-show="sortKey=='phoneNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('eMail')" style="text-align: center;"><a class="thumbnail1" href="#">Email<span>Search by Email<input type="text" ng-model="ref.eMail" placeholder="Search"/></span></a>
            <span class="glyphicon sort-icon" ng-show="sortKey=='eMail'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th style="text-align: center;">Update</th>
        <th style="text-align: center; width: 25px;">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="user in users | orderBy:sortKey:reverse | filter: ref : startsWith | itemsPerPage: selectedName " pagination-id="user">
        <td style="display:none">{{user.id}}</td>
        <td>{{user.fullName}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.eMail}}</td>
        <td  style="width:70px;text-align:center;"><button class="btn btn-mini btn-warning updateUserButton" data-toggle="modal" data-target="#updateUser">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
        <td  style="width:70px;text-align:center;"><button class="btn btn-mini btn-danger" ng-click="removeUser(user.id)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
    </tr>
    </tbody>
</table>

    <div style="padding-bottom: 35px;">
        <dir-pagination-controls style="float: left;"
            direction-links="true"
            boundary-links="true"
            auto-hide = "false"
            pagination-id="user">
        </dir-pagination-controls>
        <select ng-model="selectedName" ng-options="item for item in names" class="form-control" style="float: left; width: 100px; margin: -11px 10px;">
        </select>
    </div>

<div class="modal fade" id="addUser" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New User</h4>
            </div>
            <div class="modal-body">
                <div style="padding: 5px">
                    <form name="addUserForm" class="form-horizontal user-add-form" ng-submit="submitAddUserForm(user)" novalidate="novalidate">
                        <div class="form-group" ng-class="{ 'has-error' : addUserForm.fullname.$invalid &amp;&amp; !addUserForm.fullname.$pristine }">
                            <label for="user-full-name">Full Name:</label>
                            <input name="fullname" type="text" class="form-control" id="user-full-name" placeholder="Full Name" ng-model="user.fullName" ng-minlength="6" required="required"/>
                            <p ng-show="addUserForm.fullname.$error.minlength" class="help-block">Full Name is too short.</p>
                            <p ng-show="addUserForm.fullname.$error.required &amp;&amp; !addUserForm.fullname.$pristine" class="help-block">Full Name is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : addUserForm.email.$invalid &amp;&amp; !addUserForm.email.$pristine }">
                            <label for="user-email">Email address:</label>
                            <input name="email" type="email" class="form-control" id="user-email" placeholder="Email" ng-model="user.eMail"  unique-email="" required="required"/>
                            <p ng-show="addUserForm.email.$error.email &amp;&amp; !addUserForm.email.$pristine" class="help-block">Enter a valid email.</p>
                            <p ng-show="addUserForm.email.$error.uniqueEmail &amp;&amp; !addUserForm.email.$pristine" class="help-block">Email is already taken.</p>
                            <p ng-show="addUserForm.email.$error.required &amp;&amp; !addUserForm.email.$pristine" class="help-block">Email is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : addUserForm.phoneNumber.$invalid &amp;&amp; !addUserForm.phoneNumber.$pristine }">
                            <label for="user-telephone">Telephone:</label>
                            <input name="phoneNumber" type="text" class="form-control" id="user-telephone" placeholder="Telephone Number" ng-pattern="/^[0-9]{1,12}$/" ng-model="user.phoneNumber" required="required"/>
                            <p ng-show="addUserForm.phoneNumber.$error.pattern" class="help-block">Phone Number is not valid.</p>
                            <p ng-show="addUserForm.phoneNumber.$error.required &amp;&amp; !addUserForm.phoneNumber.$pristine" class="help-block">Phone Number is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : addUserForm.password.$invalid &amp;&amp; !addUserForm.password.$pristine }">
                            <label for="user-password">Password:</label>
                            <input name="password" type="password" class="form-control" id="user-password" placeholder="Password" ng-model="user.password" ng-minlength="6" required="required"/>
                            <p ng-show="addUserForm.password.$error.minlength" class="help-block">Password is too short.</p>
                            <p ng-show="addUserForm.password.$error.required &amp;&amp; !addUserForm.password.$pristine" class="help-block">Password is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : addUserForm.cpassword.$invalid &amp;&amp; (!addUserForm.cpassword.$pristine || !addUserForm.password.$pristine) }">
                            <label for="user-repeat-password">Repeat Password:</label>
                            <input name="cpassword" type="password" class="form-control" id="user-repeat-password" placeholder="Repeat Password" ng-model="user.confirmPassword" required="required" match-password="user.password"/>
                            <p ng-show="addUserForm.cpassword.$error.matchPassword &amp;&amp; !addUserForm.cpassword.$pristine &amp;&amp; !addUserForm.cpassword.$error.required" class="help-block">Passwords don't match.</p>
                            <p ng-show="addUserForm.cpassword.$error.required &amp;&amp; !addUserForm.password.$pristine" class="help-block">Repeat password please.</p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-disabled="addUserForm.$invalid">Add</button>
                            <!--<button type="submit" class="btn btn-primary" ng-click="addNewUser(user)" data-dismiss="modal" ng-disabled="addUserForm.$invalid">Add</button>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="updateUser" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update User</h4>
            </div>
            <div class="modal-body">
                <div style="padding: 5px">
                    <form name="updateUserForm" ng-submit="submitUpdateUserForm(user)" class="form-horizontal user-update-form" novalidate="novalidate">
                        <input type="text" id="update-user-id" style="display:none" ng-model="user.id"/>
                        <input type="email" id="update-user-old-email" style="display: none"/>
                        <div class="form-group" ng-class="{ 'has-error' : updateUserForm.fullname.$invalid &amp;&amp; !updateUserForm.fullname.$pristine }">
                            <label for="update-user-full-name">Full Name:</label>
                            <input name="fullname" type="text" class="form-control" id="update-user-full-name" placeholder="Full Name" ng-model="user.fullName" ng-minlength="6" required="required"/>
                            <p ng-show="updateUserForm.fullname.$error.minlength" class="help-block">Full Name is too short.</p>
                            <p ng-show="updateUserForm.fullname.$error.required &amp;&amp; !updateUserForm.fullname.$pristine" class="help-block">Full Name is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : updateUserForm.email.$invalid &amp;&amp; !update.email.$pristine }">
                            <label for="update-user-email">Email address:</label>
                            <input name="email" type="email" class="form-control" id="update-user-email" placeholder="Email" ng-model="user.eMail" unique-update-email="" required="required"/>
                            <p ng-show="updateUserForm.email.$error.email &amp;&amp; !updateUserForm.email.$pristine" class="help-block">Enter a valid email.</p>
                            <p ng-show="updateUserForm.email.$error.uniqueUpdateEmail &amp;&amp; !updateUserForm.email.$pristine" class="help-block">Email is already taken.</p>
                            <p ng-show="updateUserForm.email.$error.required &amp;&amp; !updateUserForm.email.$pristine" class="help-block">Email is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : updateUserForm.phoneNumber.$invalid &amp;&amp; !update.phoneNumber.$pristine }">
                            <label for="update-user-telephone">Telephone:</label>
                            <input name="phoneNumber" type="text" class="form-control" id="update-user-telephone" placeholder="Telephone Number" ng-model="user.phoneNumber" ng-pattern="/^[0-9]{1,12}$/" required="required"/>
                            <p ng-show="updateUserForm.phoneNumber.$error.pattern" class="help-block">Phone Number is not valid.</p>
                            <p ng-show="updateUserForm.phoneNumber.$error.required &amp;&amp; !update.phoneNumber.$pristine" class="help-block">Phone Number is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : updateUserForm.password.$invalid &amp;&amp; !update.password.$pristine }">
                            <label for="update-user-password">Password:</label>
                            <input name="password" type="password" class="form-control" id="update-user-password" placeholder="Password" ng-model="user.password" ng-minlength="6" required="required"/>
                            <p ng-show="updateUserForm.password.$error.minlength" class="help-block">Password is too short.</p>
                            <p ng-show="updateUserForm.password.$error.required &amp;&amp; !update.password.$pristine" class="help-block">Password is required.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : updateUserForm.cpassword.$invalid &amp;&amp; ( !update.cpassword.$pristine || !update.password.$pristine ) }">
                            <label for="update-user-repeat-password">Repeat Password:</label>
                            <input name="cpassword" type="password" class="form-control" id="update-user-repeat-password" placeholder="Repeat Password" ng-model="user.repeatPassword" required="required" match-password="user.password"/>
                            <p ng-show="updateUserForm.cpassword.$error.matchPassword &amp;&amp; !updateUserForm.cpassword.$error.required &amp;&amp; !update.cpassword.$pristine" class="help-block">Passwords don't match.</p>
                            <p ng-show="updateUserForm.cpassword.$error.required &amp;&amp; !updateUserForm.password.$error.$pristine" class="help-block">Repeat password please.</p>
                        </div>
                        <button type="submit" class="btn btn-warning" ng-disabled="updateUserForm.$invalid">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>