<div ng-controller="EmpController as formController" style="width:70%; margin-bottom: 50px; margin-left:auto; margin-right:auto;">

<div class="alert alert-info" style="width:400px;margin-left:100px;" ng-show="emps.length == 0">
    No employees found
</div>

    <div class="form-group">
        <label >Search</label>
        <input type="text" ng-model="search" class="form-control" placeholder="Search"/>
    </div>

<table class="table table-bordered table-striped"  ng-show="emps.length > 0">
    <thead>
    <tr>
        <th ng-click="sort('id')" style="text-align: center;">ID
            <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('fullName')" style="text-align: center;">Employee Name
            <span class="glyphicon sort-icon" ng-show="sortKey=='fullName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('phoneNumber')" style="text-align: center;">Phone Number
            <span class="glyphicon sort-icon" ng-show="sortKey=='phoneNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('eMail')" style="text-align: center;">EMail
            <span class="glyphicon sort-icon" ng-show="sortKey=='eMail'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="emp in emps | orderBy:sortKey:reverse | filter: search | itemsPerPage: 15 ">
        <td>{{emp.id}}</td>
        <td>{{emp.fullName}}</td>
        <td>{{emp.phoneNumber}}</td>
        <td>{{emp.eMail}}</td>
    </tr>
    </tbody>
</table>
    <dir-pagination-controls
            max-size="15"
            direction-links="true"
            boundary-links="true"  >
    </dir-pagination-controls>


</div>






