<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="notificationTempDAO" class="com.xvitcoder.springmvcangularjs.dao.impl.JdbcNotificationTemp">
        <property name="dataSource" ref="dataSource" />
        <property name="transactionManager" ref="transactionManager" />
    </bean>

    <bean id="notificationTempService" class="com.xvitcoder.springmvcangularjs.service.impl.NotificationTempServiceImpl">
        <property name="notificationTempDao" ref="notificationTempDAO"/>
    </bean>

</beans>